.achievement-card {
  display: flex;
  background: #aaabaf;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  align-items: center;
  width: 100%; 
  gap: 20px;
      border: 2px solid #555879;

}



.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  object-fit: cover;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 20px;
  max-width: 1200px; 
  margin: 0 auto;
  
}

/* Mobile */
@media (max-width: 768px) {
  .cards-grid {
    grid-template-columns: 1fr; /* 1 card per row */
  }
}

.achievement-card p {
  text-align: justify;
  line-height: 1; /* improves readability */
}


.projects-title {
  text-align: center;        /* centers text */
  margin: 40px 0;            /* spacing above & below */
}

.title-with-icon {
  display: inline-flex;       /* ✅ keeps icon + text inline */
  align-items: center;        /* center vertically */
  justify-content: center;    /* center horizontally */
  gap: 10px;                  /* spacing between icon & text */
}
.achievement-icon {
  color: #334155;   /* dark slate */
  width: 40px;      /* size of icon */
  height: 40px;
}